<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😡</key>
	<dict>
		<key>happy</key>
		<integer>5</integer>
		<key>popularity</key>
		<integer>70</integer>
		<key>emotion</key>
		<integer>98</integer>
		<key>humour</key>
		<integer>42</integer>
		<key>sarcastic</key>
		<integer>50</integer>
	</dict>
	<key>😭</key>
	<dict>
		<key>happy</key>
		<integer>1</integer>
		<key>popularity</key>
		<integer>93</integer>
		<key>emotion</key>
		<integer>97</integer>
		<key>humour</key>
		<integer>20</integer>
		<key>sarcastic</key>
		<integer>78</integer>
	</dict>
	<key>🤓</key>
	<dict>
		<key>happy</key>
		<integer>56</integer>
		<key>popularity</key>
		<integer>14</integer>
		<key>emotion</key>
		<integer>12</integer>
		<key>humour</key>
		<integer>24</integer>
		<key>sarcastic</key>
		<integer>34</integer>
	</dict>
	<key>💩</key>
	<dict>
		<key>happy</key>
		<integer>86</integer>
		<key>popularity</key>
		<integer>99</integer>
		<key>emotion</key>
		<integer>39</integer>
		<key>humour</key>
		<integer>99</integer>
		<key>sarcastic</key>
		<integer>99</integer>
	</dict>
	<key>😮</key>
	<dict>
		<key>happy</key>
		<integer>13</integer>
		<key>popularity</key>
		<integer>42</integer>
		<key>emotion</key>
		<integer>43</integer>
		<key>humour</key>
		<integer>69</integer>
		<key>sarcastic</key>
		<integer>32</integer>
	</dict>
	<key>😎</key>
	<dict>
		<key>happy</key>
		<integer>90</integer>
		<key>popularity</key>
		<integer>90</integer>
		<key>emotion</key>
		<integer>70</integer>
		<key>humour</key>
		<integer>50</integer>
		<key>sarcastic</key>
		<integer>12</integer>
	</dict>
	<key>😄</key>
	<dict>
		<key>happy</key>
		<integer>99</integer>
		<key>popularity</key>
		<integer>56</integer>
		<key>emotion</key>
		<integer>75</integer>
		<key>humour</key>
		<integer>40</integer>
		<key>sarcastic</key>
		<integer>21</integer>
	</dict>
	<key>😒</key>
	<dict>
		<key>happy</key>
		<integer>8</integer>
		<key>popularity</key>
		<integer>89</integer>
		<key>emotion</key>
		<integer>17</integer>
		<key>humour</key>
		<integer>87</integer>
		<key>sarcastic</key>
		<integer>90</integer>
	</dict>
	<key>😈</key>
	<dict>
		<key>happy</key>
		<integer>78</integer>
		<key>popularity</key>
		<integer>74</integer>
		<key>emotion</key>
		<integer>76</integer>
		<key>humour</key>
		<integer>70</integer>
		<key>sarcastic</key>
		<integer>83</integer>
	</dict>
	<key>😣</key>
	<dict>
		<key>happy</key>
		<integer>2</integer>
		<key>popularity</key>
		<integer>26</integer>
		<key>emotion</key>
		<integer>64</integer>
		<key>humour</key>
		<integer>2</integer>
		<key>sarcastic</key>
		<integer>42</integer>
	</dict>
	<key>😞</key>
	<dict>
		<key>happy</key>
		<integer>1</integer>
		<key>popularity</key>
		<integer>74</integer>
		<key>emotion</key>
		<integer>96</integer>
		<key>humour</key>
		<integer>1</integer>
		<key>sarcastic</key>
		<integer>4</integer>
	</dict>
	<key>🤖</key>
	<dict>
		<key>happy</key>
		<integer>0</integer>
		<key>popularity</key>
		<integer>12</integer>
		<key>emotion</key>
		<integer>0</integer>
		<key>humour</key>
		<integer>10</integer>
		<key>sarcastic</key>
		<integer>38</integer>
	</dict>
</dict>
</plist>
