<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introduction</key>
	<array>
		<string>Hello!</string>
		<string>I wasn&apos;t sleeping I promise...</string>
		<string>Today we are going to look at some sorting algorithms.</string>
		<string>You may not know it, but sorting algorithms are used all the time in computers and are really important.</string>
		<string>Imagine you want to list all your songs by song name.</string>
		<string>The songs need to be sorted!</string>
		<string>There are many ways we can go about sorting such a list.</string>
		<string>The set of rules we follow to complete a task like sorting is called an ALGORITHM.</string>
		<string>Some really smart people have already done the hard work and figured out some sorting algorithms for us.</string>
		<string>Let&apos;s check some of them out by sorting some of my emoji friends!</string>
	</array>
	<key>bubble_sort</key>
	<array>
		<string>test</string>
		<string>test</string>
	</array>
	<key>selection_sort</key>
	<array>
		<string>test</string>
		<string>test</string>
	</array>
	<key>insertion_sort</key>
	<array>
		<string>test</string>
		<string>test</string>
	</array>
	<key>merge_sort</key>
	<array>
		<string>test</string>
		<string>test</string>
	</array>
	<key>stupid_sort</key>
	<array>
		<string>test</string>
		<string>test</string>
	</array>
</dict>
</plist>
